inflect==4.1.0
librosa==0.8.0
matplotlib==3.3.2
numpy==1.19.2
prefetch_generator==1.0.1
pyworld==0.2.11.post0
scipy==1.5.3
soundfile==0.10.3.post1
tgt==1.4.4
torch==1.6.0
tqdm==4.50.2
Unidecode==1.1.1
